<!DOCTYPE html>
<html>
  <head>
    <title>Student Message Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='container'></div>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/react.js'></script>
    <script src='/javascripts/react-dom.js'></script>
    <script src='/javascripts/browser.min.js'></script>
    <script src='/javascripts/first.js' type='text/babel'></script>
  </body>
</html>
